{% if site.search.show_attrib == false %}
	{% assign show_attrib = site.search.show_attrib %}
{% else %}
	{% assign show_attrib = true %}
{% endif %}

{% if show_attrib %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');
    
    .fuse {
        font-family: "Source Sans 3", serif;
        font-weight: 400;
        }
      
    .fuse-logo {
        color: #9b59b6;
        font-weight: bolder;
        --fa-animation-iteration-count:1;
        --fa-animation-duration: 0.5s;
        --fa-animation-delay: 0.5s;
        }
        
</style>

{% endif %}

<form class="input-group">
    <label class="sr-only" for="search"> Search </label>
    <input type="search" id="search" class="form-control rounded-right" placeholder="{{ site.search.label | default: "Search" }}...">
</form>
{% if show_attrib %}
<p class="text-right small mt-1"> Powered by <i class="fa-solid fa-asterisk fa-lg fa-spin fuse-logo"></i> <a href="https://www.fusejs.io/">Fuse.js</a></p>
{% endif %}
<div id="resultscount"></div>
<div id="results" class="mt-3 text-left"></div>
