{% if site.search.show_attrib == false %}
	{% assign show_attrib = site.search.show_attrib %}
{% else %}
	{% assign show_attrib = true %}
{% endif %}

{% if show_attrib %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
  
    .lunr{
    font-family: 'Heebo', sans-serif;
    background-color: black;
    color: white;
    }
    </style>
{% endif %}

<form class="input-group">
    <label class="sr-only" for="search"> Search </label>
    <input type="search" id="search" class="form-control rounded-right" placeholder="{{ site.search.label | default: "Search" }}...">
</form>
{% if show_attrib %}
    <p class="text-right small mt-1"> Powered by <a href="https://lunrjs.com/" class="lunr px-2">L U N R</a></p>
{% endif %}
<div id="resultscount"></div>
<div id="results" class="mt-3 text-left"></div>
