.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .hll { background-color: #ffffcc }
.highlight pre { background: #ffffff; color: #4D4D4D }
.highlight .c { color: #0080FF; font-style: italic } /* Comment */
.highlight .err { color: #FFF; background-color: #C00 } /* Error */
.highlight .k { color: #2C5DCD; font-weight: bold } /* Keyword */
.highlight .o { color: #2C5DCD } /* Operator */
.highlight .ch { color: #0080FF; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #0080FF; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #0080FF } /* Comment.Preproc */
.highlight .cpf { color: #0080FF; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #0080FF; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0080FF; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { background-color: #FCC; border: 1px solid #C5060B } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #F00 } /* Generic.Error */
.highlight .gh { color: #2C5DCD; font-weight: bold } /* Generic.Heading */
.highlight .gi { background-color: #CFC; border: 1px solid #0C0 } /* Generic.Inserted */
.highlight .go { color: #AAA } /* Generic.Output */
.highlight .gp { color: #2C5DCD; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #2C5DCD; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #C5060B } /* Generic.Traceback */
.highlight .kc { color: #2C5DCD; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #2C5DCD; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #2C5DCD; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #2C5DCD } /* Keyword.Pseudo */
.highlight .kr { color: #2C5DCD; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #5918BB; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #5918BB; font-weight: bold } /* Literal.Number */
.highlight .s { color: #0C6 } /* Literal.String */
.highlight .na { color: #2C5DCD; font-style: italic } /* Name.Attribute */
.highlight .nb { color: #5918BB; font-weight: bold } /* Name.Builtin */
.highlight .nc { text-decoration: underline } /* Name.Class */
.highlight .no { color: #318495 } /* Name.Constant */
.highlight .nd { color: #FF8000; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #5918BB; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #5918BB; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #FF8000; font-weight: bold } /* Name.Function */
.highlight .nt { color: #2C5DCD; font-weight: bold } /* Name.Tag */
.highlight .ow { color: #2C5DCD; font-weight: bold } /* Operator.Word */
.highlight .w { color: #CBCBCB } /* Text.Whitespace */
.highlight .mb { color: #5918BB; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #5918BB; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #5918BB; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #5918BB; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #5918BB; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #0C6 } /* Literal.String.Affix */
.highlight .sb { color: #0C6 } /* Literal.String.Backtick */
.highlight .sc { color: #0C6 } /* Literal.String.Char */
.highlight .dl { color: #0C6 } /* Literal.String.Delimiter */
.highlight .sd { color: #0C6; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #0C6 } /* Literal.String.Double */
.highlight .se { color: #C5060B; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #0C6 } /* Literal.String.Heredoc */
.highlight .si { color: #0C6 } /* Literal.String.Interpol */
.highlight .sx { color: #318495 } /* Literal.String.Other */
.highlight .sr { color: #0C6 } /* Literal.String.Regex */
.highlight .s1 { color: #0C6 } /* Literal.String.Single */
.highlight .ss { color: #C5060B; font-weight: bold } /* Literal.String.Symbol */
.highlight .bp { color: #5918BB; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm { color: #FF8000; font-weight: bold } /* Name.Function.Magic */
.highlight .il { color: #5918BB; font-weight: bold } /* Literal.Number.Integer.Long */
