/*  selenized.light theme author Diego H <https://github.com/dieghernan/> */
/* Source: https://github.com/dieghernan/pretty-themes */
/* Overall */
.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight pre { background: #FBF3DB; color: #53676D; }

.highlight .hll { background-color: #E9E4D0; }

/* Comments */
.highlight .c { color: #909995; }

.highlight .cp { color: #909995; }

.highlight .cpf { color: #909995; }

.highlight .cm { color: #909995; }

.highlight .c1 { color: #909995; }

.highlight .cs { color: #909995; }

.highlight .ch { color: #909995; }

/* Constants */
.highlight .se { color: #D2212D; }

.highlight .kc { color: #009C8F; }

.highlight .no { color: #53676D; }

.highlight .ss { color: #53676D; }

/* Numbers */
.highlight .m { color: #009C8F; }

.highlight .mb { color: #009C8F; }

.highlight .mh { color: #009C8F; }

.highlight .mo { color: #009C8F; }

.highlight .mf { color: #009C8F; }

.highlight .mi { color: #009C8F; }

.highlight .il { color: #009C8F; }

/* Entities */
.highlight .nc { color: #0072D4; }

.highlight .nd { color: #0072D4; }

.highlight .ne { color: #0072D4; }

.highlight .nf { color: #0072D4; }

.highlight .py { color: #0072D4; }

.highlight .nt { color: #0072D4; }

.highlight .nn { color: #0072D4; }

.highlight .na { color: #0072D4; }

.language-yaml .highlight .kt { color: #0072D4; }

.language-css .highlight .nt, .language-css .highlight .nd, .language-scss .highlight .nt, .language-scss .highlight .nd { color: #489100; }

.language-css .highlight .nf, .language-scss .highlight .nf { color: #489100; }

.language-css .highlight .n, .language-scss .highlight .n { color: #0072D4; }

.language-html .highlight .na { color: #489100; }

/* Invalid */
.highlight .err { color: #CC1729; }

.highlight .gr { color: #CC1729; }

.highlight .ne { color: #CC1729; }

/* Keywords */
.highlight .k { color: #489100; }

.highlight .kn { color: #C25D1E; }

.highlight .o { color: #489100; }

.highlight .ow { color: #489100; }

.language-markdown .highlight .sb { color: #0072D4; }

.language-css .highlight .k, .language-scss .highlight .k { color: #489100; }

.language-css .highlight .cp, .language-scss .highlight .cp { color: #489100; font-weight: bold; font-style: normal; }

.language-yaml .highlight .nt { color: #489100; font-weight: bold; font-style: normal; }

.language-yaml .highlight .na { color: #489100; }

/* Markup */
.highlight .gs { color: #53676D; font-weight: bold; }

.highlight .gh { color: #A78300; }

.highlight .gu { color: #A78300; }

.highlight .ge { color: #53676D; font-style: italic; }

.highlight .ges { font-weight: bold; font-style: italic; }

.highlight .gt { color: #53676D; }

/* Meta */
.language-html .highlight .cp { color: #909995; font-style: normal; }

/* Punctuation */
.highlight .p { color: #53676D; }

.highlight .pm { color: #53676D; }

.highlight .dl { color: #53676D; }

.highlight .sh { color: #53676D; }

/* Storage */
.highlight .kd { color: #489100; }

.highlight .kt { color: #489100; }

/* String */
.highlight .s { color: #009C8F; }

.highlight .sb { color: #009C8F; }

.highlight .s1 { color: #009C8F; }

.highlight .s2 { color: #009C8F; }

.highlight .sx { color: #009C8F; }

.highlight .si { color: #009C8F; }

.highlight .sr { color: #009C8F; }

.language-html .highlight .s { color: #009C8F; }

/* Support */
.highlight .nb { color: #0072D4; }

.highlight .bp { color: #0072D4; }

.highlight .fm { color: #0072D4; }

.highlight .vm { color: #0072D4; }

.highlight .nl { color: #AD8900; }

.language-css .highlight .nc, .language-css .highlight .nn, .language-scss .highlight .nc, .language-scss .highlight .nn { color: #0072D4; }

/* Variable */
.highlight .vi { color: #53676D; }

.highlight .kp { color: #D2212D; }

.highlight .nv { color: #C25D1E; }

.highlight .vc { color: #C25D1E; }

.highlight .vg { color: #C25D1E; }

.highlight .err, .highlight .gr, .highlight .gt, .highlight .ne { font-weight: bold; }
