.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .hll { background-color: #222222 }
.highlight pre { background: #000000; color: #CCC }
.highlight .c { color: #000080 } /* Comment */
.highlight .err { color: #CCC; border: 1px solid #F00 } /* Error */
.highlight .esc { color: #CCC } /* Escape */
.highlight .g { color: #CCC } /* Generic */
.highlight .k { color: #CDCD00 } /* Keyword */
.highlight .l { color: #CCC } /* Literal */
.highlight .n { color: #CCC } /* Name */
.highlight .o { color: #39C } /* Operator */
.highlight .x { color: #CCC } /* Other */
.highlight .p { color: #CCC } /* Punctuation */
.highlight .ch { color: #000080 } /* Comment.Hashbang */
.highlight .cm { color: #000080 } /* Comment.Multiline */
.highlight .cp { color: #000080 } /* Comment.Preproc */
.highlight .cpf { color: #000080 } /* Comment.PreprocFile */
.highlight .c1 { color: #000080 } /* Comment.Single */
.highlight .cs { color: #CD0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #CD0000 } /* Generic.Deleted */
.highlight .ge { color: #CCC; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #CCC; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.highlight .gr { color: #F00 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00CD00 } /* Generic.Inserted */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #CCC; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #04D } /* Generic.Traceback */
.highlight .kc { color: #CDCD00 } /* Keyword.Constant */
.highlight .kd { color: #00CD00 } /* Keyword.Declaration */
.highlight .kn { color: #CD00CD } /* Keyword.Namespace */
.highlight .kp { color: #CDCD00 } /* Keyword.Pseudo */
.highlight .kr { color: #CDCD00 } /* Keyword.Reserved */
.highlight .kt { color: #00CD00 } /* Keyword.Type */
.highlight .ld { color: #CCC } /* Literal.Date */
.highlight .m { color: #CD00CD } /* Literal.Number */
.highlight .s { color: #CD0000 } /* Literal.String */
.highlight .na { color: #CCC } /* Name.Attribute */
.highlight .nb { color: #CD00CD } /* Name.Builtin */
.highlight .nc { color: #00CDCD } /* Name.Class */
.highlight .no { color: #CCC } /* Name.Constant */
.highlight .nd { color: #CCC } /* Name.Decorator */
.highlight .ni { color: #CCC } /* Name.Entity */
.highlight .ne { color: #669; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #CCC } /* Name.Function */
.highlight .nl { color: #CCC } /* Name.Label */
.highlight .nn { color: #CCC } /* Name.Namespace */
.highlight .nx { color: #CCC } /* Name.Other */
.highlight .py { color: #CCC } /* Name.Property */
.highlight .nt { color: #CCC } /* Name.Tag */
.highlight .nv { color: #00CDCD } /* Name.Variable */
.highlight .ow { color: #CDCD00 } /* Operator.Word */
.highlight .pm { color: #CCC } /* Punctuation.Marker */
.highlight .w { color: #CCC } /* Text.Whitespace */
.highlight .mb { color: #CD00CD } /* Literal.Number.Bin */
.highlight .mf { color: #CD00CD } /* Literal.Number.Float */
.highlight .mh { color: #CD00CD } /* Literal.Number.Hex */
.highlight .mi { color: #CD00CD } /* Literal.Number.Integer */
.highlight .mo { color: #CD00CD } /* Literal.Number.Oct */
.highlight .sa { color: #CD0000 } /* Literal.String.Affix */
.highlight .sb { color: #CD0000 } /* Literal.String.Backtick */
.highlight .sc { color: #CD0000 } /* Literal.String.Char */
.highlight .dl { color: #CD0000 } /* Literal.String.Delimiter */
.highlight .sd { color: #CD0000 } /* Literal.String.Doc */
.highlight .s2 { color: #CD0000 } /* Literal.String.Double */
.highlight .se { color: #CD0000 } /* Literal.String.Escape */
.highlight .sh { color: #CD0000 } /* Literal.String.Heredoc */
.highlight .si { color: #CD0000 } /* Literal.String.Interpol */
.highlight .sx { color: #CD0000 } /* Literal.String.Other */
.highlight .sr { color: #CD0000 } /* Literal.String.Regex */
.highlight .s1 { color: #CD0000 } /* Literal.String.Single */
.highlight .ss { color: #CD0000 } /* Literal.String.Symbol */
.highlight .bp { color: #CD00CD } /* Name.Builtin.Pseudo */
.highlight .fm { color: #CCC } /* Name.Function.Magic */
.highlight .vc { color: #00CDCD } /* Name.Variable.Class */
.highlight .vg { color: #00CDCD } /* Name.Variable.Global */
.highlight .vi { color: #00CDCD } /* Name.Variable.Instance */
.highlight .vm { color: #00CDCD } /* Name.Variable.Magic */
.highlight .il { color: #CD00CD } /* Literal.Number.Integer.Long */
