{%- assign tophat       = "preptor,lymcha,hootstrap,deeply,graymor,wandoo"     -%}
{%- assign bootswatch   = "sketchy,lux,journal,minty"                      -%}
{%- assign dieghernan   = "twitter,twitter-dim,twitter-lights-out,chulapa" -%}
{%- assign selskin      = site.chulapa-skin.theme                             -%}
{%- if tophat contains selskin -%}
    {%- assign skinurl      = "https://themesguide.github.io/top-hat/dist/" -%}
    {%- assign skinauthor   = "Tophat" -%}
{%- elsif bootswatch contains selskin - %}
    {%- assign skinurl      = "https://bootswatch.com/" -%}
    {%- assign skinauthor   = "Bootswatch" -%}
{%- elsif dieghernan contains selskin - %}
    {%- assign skinurl      = "https://github.com/dieghernan" -%}
    {%- assign skinauthor   = "dieghernan" -%}
{%- else -%}
{%- endif -%}

<!-- Footer -->
 <footer class="footer-chulapa text-center pt-3">
     <div class="container">
{% include components/disqus.html %}
         <div class="row">
             <div class="col-xl-10 offset-xl-1">
                 {%- if site.footer.links -%}
                 <div role="navigation">
                     <ul class=" nav justify-content-center">
                         {%- for social in site.footer.links  -%}
                         <li class="nav-item">
                             <a href="{{ social.url }}" title="footer{{ social.label }}" class="nav-link lead px-0">
                                 <span class="fa-stack fa-lg" aria-hidden="true">
                                     <i class="fa fa-circle fa-stack-2x"></i><i class="fa {{ social.icon }} fa-stack-1x fa-inverse"></i>
                                 </span><span class="sr-only">{{ social.label }}</span>
                             </a>
                         </li>
                         {%- endfor -%}
                     </ul>
                 </div>
                 {%- endif -%}
                    <p class="pb-3">&copy; {{ site.time | date: '%Y' }} {{ site.author.name | default: site.github.owner_name }}</p>
          					<!-- Do not remove this in order to give  attributions -->
          					{%- if selskin -%}
          					<p><b>{{- selskin | remove: "-" | capitalize -}}</b> skin by <a href="{{ skinurl }}">{{ skinauthor }}</a></p>
          					{%- endif -%}
          					<p>Theme 
                        <a href="#" class="chulapa">Chulapa</a> 
                        powered by 
                        <a href="https://getbootstrap.com/docs/4.5/">Bootstrap</a></p>
                     <!-- End  attributions -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
