<!doctype html>
<html lang="{{- site.locale | default: 'en-US' -}}">
<head>
    {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url -%}
    {%- assign title = page.title | site.title | default: site.github.repository_name  -%}
    <title>{{- title -}}</title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    {%- for font in site.googlefonts -%}
    <link href="{{ font.url }}" rel="stylesheet">
    {%- endfor -%}
    <!-- Fontawesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Chulapa css -->
    <link rel="stylesheet" href="{{- "assets/css/main.css " | relative_url -}}" />
    <!-- Custom css -->
    <link rel="stylesheet" href="{{- "assets/css/custom.css " | relative_url -}}" />
    <link rel="canonical" href="{{ canonical_url }}">
</head>