{%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url | uri_escape -%}
{%- assign metatitle1 = page.title | site.title | default: site.github.repository_name  -%}
{%- assign metatitle2 = site.title | default: site.github.repository_name -%}
{%- assign strippedurl = page.url | replace: "index.html", "" -%}
{%- if strippedurl == "/" -%}
    {%- assign metatitle1 = site.title | default: site.github.repository_name  -%}
    {%- assign metatitle2 = site.subtitle | default: site.github.project_tagline -%}
{%- endif -%}
{%- capture metatitle -%}{{ metatitle1 }} {{ site.title_separator | default: "|" }} {{ metatitle2 }}{%- endcapture -%}
{%- assign: initimg = page.imghero | default: site.og_image | default: site.author.avatar | default: site.github.owner_gravatar_url -%}
{%- if initimg contains "http" -%}
{%- assign: ogimage = initimg  -%}
{%- else -%}
{%- assign: ogimage = initimg | absolute_url  -%}
{%- endif -%}
<!doctype html>
<html lang="{{- site.locale | default: 'en-US' -}}">
<head>
    <title>{{ metatitle }}</title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ site.author.name | default: site.github.owner_name }}">
    <meta name="description" content="{{ page.content | markdownify | strip_html | strip_newlines | strip | truncate: 130  }}"/>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ canonical_url }}">
    <!-- CSS -->
    {% for font in site.googlefonts -%}
    <link href="{{ font.url }}" rel="stylesheet">
    {%- endfor %}
    <!-- Fontawesome-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Theme css (Bootstrap included) -->
    <link rel="stylesheet" href="{{- "assets/css/main.css " | relative_url -}}" />
    <!-- Custom css -->
    <link rel="stylesheet" href="{{- "assets/css/custom.css " | relative_url -}}" />
    <!-- OpenGraph -->
    <meta property="og:title" content="{{ metatitle }}" />
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | strip | truncatewords: 20 }}" />
    <meta property="og:locale" content="{{- site.locale | default: 'en-US' -}}" />
    <meta property="og:image" content="{{- ogimage -}}" />
    <meta name="twitter:card" content="summary_large_image">
    {% if site.twitter.site %}
    <meta name="twitter:site" content="@{{- site.twitter.site }}" />
    <meta name="twitter:creator" content="@{{- site.twitter.site }}" />
    {% endif %}
</head>
