{%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url | uri_escape -%}
{%- assign metatitle1 = page.title | default: site.title | default: site.github.repository_name | strip_html  -%}
{%- assign metatitle2 = site.title | default: site.github.repository_name | strip_html -%}
{%- assign strippedurl = page.url | replace: "index.html", "" -%}
{%- if strippedurl == "/" -%}
    {%- assign metatitle1 = site.title | default: site.github.repository_name  -%}
    {%- assign metatitle2 = site.subtitle | default: site.github.project_tagline -%}
{%- endif -%}
{%- capture metatitle -%}{{ metatitle1 | strip_html }} {{ site.title_separator | default: "|" }} {{ metatitle2 | strip_html }}{%- endcapture -%}
{%- assign ogimage = page.og_image | default: page.header_img | default: site.og_image | default: site.author.avatar | default: site.github.owner_gravatar_url | absolute_url -%}
{%- assign descfallback = page.content | 
                markdownify |  newline_to_br | 
                replace:"<br />", ",.," | 
                replace:"{{", ",.," | 
                replace:"{%", ",.," | 
                split: ",.," | first -%}
{%- assign ogdesc = page.excerpt | default: descfallback |
                strip_html | escape_once  -%}
{%- if page.subtitle -%}
{%- assign ogdesc = page.subtitle | append: " - " | append: ogdesc | strip_html | escape_once  -%}
{%- endif -%}
{%- assign links = page.author.links | default: site.author.links -%}
{%- for item in links -%}
  {%- if item.url contains "twitter.com/" -%}
    {%- assign twitterauthor = item.url | split: "/" | last -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
    <!--Google Structured Data-->
    <script type="application/ld+json">
        {
      "@context": "https://schema.org",
	  {% if page.collection == "posts" %}
      "@type": "BlogPosting",
	  {% else %}
	  "@type": "Article",
	  {% endif %}
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ canonical_url }}"
      },
      "headline": "{{ metatitle1 |  strip_html }}",
      "image": "{{ ogimage }}",
      "datePublished": "{{ page.date | default:  site.time | date_to_xmlschema }}",
      "dateModified": "{{ page.last_modified_at | default: page.date | default:  site.time | date_to_xmlschema }}",
      "author": {
        "@type": "Person",
        "name": "{{ page.author.name | default: site.author.name | default: site.github.owner_name }}"
      },
       "publisher": {
        "@type": "Organization",
        "name": "{{ site.author.name | default: site.github.owner_name }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.og_image | default: site.author.avatar | default: site.github.owner_gravatar_url | absolute_url }}"
        }
      }
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "{{ "/" | absolute_url }}"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ page.title | strip_html }}"
      }]
    }
    </script>
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ metatitle1 | strip_html }}",
    "description": "{{ ogdesc }}"
    }
}
</script>
{%- assign sitelink = site.author.links | 
where_exp: "item", "item.url contains 'http'"
-%}
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "Person",
  {% if site.author.avatar %}
  "image": "{{ site.author.avatar | absolute_url }}",
  {% endif %}
  "name" : "{{ site.author.name | default: site.github.owner_name }}",
  "url" : "{{ "/" | absolute_url }}"
  {% if sitelink %}
  ,  "sameAs" : [
  {% for item in sitelink %}
  "{{ item.url }}"{%- if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  
  ]
  {% endif %}
}
</script>

    
    <title>{{ metatitle | strip_html }}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | append: " | " | append: site.subtitle }}" href="{{ './rss.xml' | absolute_url }}" />
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{{ page.author.name | default: site.author.name | default: site.github.owner_name }}" />
    <meta name="copyright" content="{{ site.author.name | default: site.github.owner_name }}" />
    <meta name="description" content="{{- ogdesc | truncate: 130 -}}"/>
    <meta name="thumbnail" content="{{ ogimage }}" />
    <meta name="robots" content="index, follow">
    {%- assign: keyword =  site.github.public_repositories | 
                          where_exp:"item", "item.name == site.github.repository_name " | 
                          map: "topics" -%}
    {% if keyword -%}
    <meta name="keywords" content="{{- keyword - | join: ','}}"/>
    {%- endif %}
    {% if site.chulapa-skin.vars.primary -%}
    <!-- Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="{{ site.chulapa-skin.vars.primary }}">
   {%- endif %}
    <!-- OpenGraph -->
    <meta property="og:title" content="{{ metatitle | strip_html }}" />
    <meta property="og:url" content="{{ canonical_url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ ogdesc | truncatewords: 20 }}" />
    <meta property="og:locale" content="{{- site.locale | default: 'en-US' -}}" />
    <meta property="og:image" content="{{- ogimage -}}" />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    {%- if site.twitter_site %}
    <meta name="twitter:site" content="@{{- site.twitter_site  -}}" />
    {% endif -%}
    {%- if twitterauthor %}
    <meta name="twitter:creator" content="@{{- twitterauthor  -}}" />
    {% endif -%}
