/*!
 * Navbar
 */
// Custom Navbar
.navbar-chulapa {
    background-color: $navbar-chulapa-bg-color;

    .navbar-brand {
        color: $navbar-chulapa-brand-color;

        @include hover-focus() {
            color: $navbar-chulapa-brand-hover-color;
        }

    }

    .navbar-nav {
        .nav-link {
            color: $navbar-chulapa-text-color;

            @include hover-focus() {
                color: $navbar-chulapa-hover-color;
            }

            &.disabled {
                color: $navbar-chulapa-disabled-color;
            }
        }

        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            color: $navbar-chulapa-active-color;
        }
    }

    .navbar-toggler {
        color: $navbar-chulapa-text-color;
        border-color: $navbar-chulapa-toggler-border-color;
        background-color: $navbar-chulapa-toggler-color-bg;
    }

    .navbar-toggler-icon {
        background-image: escape-svg($navbar-chulapa-toggler-icon-bg);
    }

    .navbar-text {
        color: $navbar-chulapa-text-color;

        a {
            color: $navbar-chulapa-active-color;

            @include hover-focus() {
                color: $navbar-chulapa-active-color;
            }
        }
    }

    .dropdown-menu {
        background-color: $navbar-chulapa-bg-color;
        border-style: none;

        .dropdown-item {
            color: $navbar-chulapa-text-color;

            @include hover-focus() {
                background-color: $navbar-chulapa-hover-color;
                color: $navbar-chulapa-bg-color;
            }

            &.disabled {
                color: $navbar-chulapa-disabled-color;
            }
        }

        .show>.dropdown-item,
        .active>.dropdown-item,
        .dropdown-item.show,
        .dropdown-item.active {
            background-color: $navbar-chulapa-hover-color;
            color: $navbar-chulapa-bg-color;
        }
    }
}
