.hero-chulapa {
    font-family: $headings-font-family;
    background-color: $hero-chulapa-bg-color;
    text-align: center;
    height: 25vmax;

    hr {
        background-color: $hero-chulapa-text-color;
        width: 15%;
    }


    h1,
    p {
        color: $hero-chulapa-text-color;
    }

    p {
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.hero-chulapa-image {
    @extend .hero-chulapa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1,
    p {
        color: $white;
        text-shadow: 0.1rem 0.1rem 0.2rem $black;
    }

    hr {
        background-color: $white;
        box-shadow: 0.1rem 0.1rem 0.2rem $black;
    }
}
.splash-chulapa {
    @extend .hero-chulapa;
    height: 100vh;

    h1 {
        font-size: 9vmax;
        font-weight: 300;
        word-wrap: break-word;
    }

    p {
        font-size: 5vmax;
        font-weight: 300;
    }
}

.splash-chulapa-image {
    @extend .splash-chulapa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1,
    p {
        color: $white;
        text-shadow: 0.1rem 0.1rem 0.2rem $black;
    }

    hr {
        background-color: $white;
        box-shadow: 0.1rem 0.1rem 0.2rem $black;
    }
}
