@import "test";

/* Assign defaults from bootstrap */
img {
  @extend .img-fluid
}
table {
  @extend .table;
  @extend .table-sm;
  @extend .table-bordered;
  @extend .table-striped;
}

thead {
  @extend .thead-dark;
}

blockquote {
  @extend .bg-light;
  @extend .pl-2;
  @extend .py-1;
  @extend .rounded-right;
  @extend .font-italic;
  border-left: 0.3rem solid $gray-500;
}

.highlight {
  @extend .p-2;
}

.highlight pre { 
  background-color: $gray-100; 
}

/* Custom styles */
.chulapa {
  font-family: chulapa, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
}
