/*! Chulapa footer */


$footer-chulapa-bg-color:       $navbar-chulapa-bg-color !default;
$footer-chulapa-text-color:     $navbar-chulapa-hover-color !default;
$footer-chulapa-hover-color:    $navbar-chulapa-text-color !default;
$footer-chulapa-icon-color:     $footer-chulapa-text-color !default;

.footer-chulapa {
    background-color: $footer-chulapa-bg-color;
    color: $footer-chulapa-text-color;
    a {
        color:$footer-chulapa-text-color;
        text-decoration: none;
        font-weight:bold;
                @include hover-focus() {
            color: $footer-chulapa-hover-color;
        }
}

    .nav-link {
        color: transparent;

        @include hover-focus() {
            color: $footer-chulapa-hover-color;
        }
    }

    .fa-inverse {
        color: $footer-chulapa-icon-color;
    }
    .small {
        font-size:60%;
    }

}
