/*!
 * Footer
 */
.footer-chulapa {
    background-color: $footer-chulapa-bg-color;
    color: $footer-chulapa-text-color;
    border-top: 0.05rem solid rgba($footer-chulapa-text-color, 0.25);
    
    a {
        color: $footer-chulapa-text-color;
        text-decoration: none;
        font-weight: bold;

        @include hover-focus() {
            color: $footer-chulapa-hover-color;
        }

    }

    .nav-link {
        color: transparent;

        @include hover-focus() {
            color: $footer-chulapa-hover-color;
        }
    }

    .fa-stack {
        @include hover-focus() {
            color: $footer-chulapa-icon-hover-color;
        }
    }

    .fa-inverse {
        color: $footer-chulapa-icon-color;
    }

    .small {
        font-size: 60%;
        text-align: left;
    }
}