.ais-SearchBox-input{
  @extend .form-control;
  @extend .rounded;
}

.ais-Hits {
  
  ol{
    padding:0;
    list-style-type: none;
    list-style: none;
  }
  
  li {
    list-style: none;
  }
  
}

.ais-Highlight {
  background-color: $warning;
  font-style: initial;
  font-family: inherit;
}
