$blue: orange;


// Required
@import "bootstrap-4.3.1/scss/functions";
@import "bootstrap-4.3.1/scss/variables";
@import "bootstrap-4.3.1/scss/mixins";

//Theming
$theme-colors:(
warning: mix($warning,$blue,70%),
danger: mix($danger, $blue,70%),
dark: mix(black, $blue,60%),
light: mix(white, $blue,60%),

);

@import "bootstrap-4.3.1/scss/bootstrap";
