---
---
@charset "utf-8";
$chulapa-col: {{ site.color }};


/* Custom font */
    @font-face {
      font-family: chulapa;
      src: url(../fonts/Chulapa/Chulapa-Bold.otf);
    }

@import "chulapa_master";

$newvar: {{ site.color }};

.aaaa { 
  background-color: $newvar; 
}
