---
---

@charset "utf-8";
// Custom free font: see https://diario.madrid.es/chulapa/
@font-face {
  font-family: chulapa;
  src: url(../fonts/Chulapa/Chulapa-Bold.otf);
}
 // A. Theming Bootstrap

{% for cols in site.chulapa-skin.cols %}
{% if cols[1] %}

${{ cols[0] }}: {{ cols[1] }};

{% endif %}
{% endfor%}


// Default if not provided
$chulapa-col: crimson !default;


// Vars to overwrite Bootstrap 
//@import "skins/auto";

@import "bootstrap-4.4.1/scss/functions";
@import "bootstrap-4.4.1/scss/variables";
@import "bootstrap-4.4.1/scss/mixins";

$theme-colors:(
  chulapa: $chulapa-col,
);

// Import bootstrap
@import "bootstrap-4.4.1/scss/bootstrap";
//B. Extend bootstrap styles to html tags

/* Chulapa styles */
img {
  @extend .img-fluid;
}

table {
  @extend .table;
  @extend .table-sm;
  @extend .table-bordered;
  @extend .table-striped;
}

thead {
  @extend .thead-dark;
}

blockquote {
  @extend .bg-light;
  @extend .pl-2;
  @extend .py-1;
  @extend .rounded-right;
  @extend .font-italic;
  border-left: 0.3rem solid $gray-500;
}

.highlight {
  @extend .p-2;
}

// Default value, could be overriden based on site.highlight-skin option
.highlight pre { 
  background-color: $gray-100; 
}

// C. Custom styles
.chulapa {
  font-family: chulapa, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  // Enable Ligatures
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
}

// Custom Navbar
$navbar-chulapa-color: 
color-yiq($chulapa-col,$navbar-light-color,$navbar-dark-color) !default;

$navbar-chulapa-hover-color: 
color-yiq($chulapa-col,$navbar-light-hover-color,$navbar-dark-hover-color) !default;

$navbar-chulapa-active-color:
color-yiq($chulapa-col,$navbar-light-active-color,$navbar-dark-active-color) !default;

$navbar-chulapa-disabled-color:
color-yiq($chulapa-col,$navbar-light-disabled-color,$navbar-dark-disabled-color) !default;

$navbar-chulapa-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-chulapa-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

$navbar-chulapa-toggler-border-color:
color-yiq($chulapa-col,$navbar-light-toggler-border-color,$navbar-dark-toggler-border-color) !default;

$navbar-chulapa-brand-color: $navbar-chulapa-active-color !default;
$navbar-chulapa-brand-hover-color: $navbar-chulapa-active-color !default;


// Custom Navbar
.navbar-chulapa {
  .navbar-brand {
    color: $navbar-chulapa-brand-color;

    @include hover-focus() {
      color: $navbar-chulapa-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-chulapa-color;

      @include hover-focus() {
        color: $navbar-chulapa-hover-color;
      }

      &.disabled {
        color: $navbar-chulapa-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-chulapa-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-chulapa-color;
    border-color: $navbar-chulapa-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: escape-svg($navbar-chulapa-toggler-icon-bg);
  }

  .navbar-text {
    color: $navbar-chulapa-color;
    a {
      color: $navbar-chulapa-active-color;

      @include hover-focus() {
        color: $navbar-chulapa-active-color;
      }
    }
  }
}
