---
---
@charset "utf-8";
// Custom free font: see https://diario.madrid.es/chulapa/
@font-face {
  font-family: chulapa;
  src: url(../fonts/Chulapa/Chulapa-Bold.otf);
  font-display: fallback;
}

 //Theming Bootstrap from config

//Theme
@import "skins/{{- site.chulapa-skin.theme | default: "none" -}}";

//Theming Bootstrap from config // overrides 
{% for var in site.chulapa-skin.vars %}
  {% if var[1] %}
   ${{ var[0] }}: {{ var[1] }};
  {% endif %}
{% endfor%}

//$enable-responsive-font-sizes: true !default;

{% if site.chulapa-skin.autothemer %}
  // Autothemer: No overrides
  @import "skins/auto";
{% endif %}

//Create chulapa theme
// Key theme var
$chulapa-col: crimson !default;
$theme-colors:(
  chulapa: $chulapa-col,
);

// Import bootstrap
@import "bootstrap/bootstrap";
//B. Chulapa specifics
@import "chulapa-master";
//C. Highlighter
/*!
 * Pygments css
 * Developed by jwarby (https://github.com/jwarby)
 * Renamed to *.scss on this project
 * Previews: (https://jwarby.github.io/jekyll-pygments-themes)
 * UNLICENSE
 */
@import "pygments/{{- site.chulapa-skin.highlight | default: "default" -}}";
