---
---
@import "test";

/* Assign defaults from bootstrap */
img {
  @extend .img-fluid
}
table {
  @extend .table;
  @extend .table-sm;
  @extend .table-bordered;
  @extend .table-striped;
}
blockquote {
  @extend .bg-light;
  @extend .pl-2;
  @extend .font-italic;
  border-left: 0.3rem solid $gray-500;
}

.highlight {
  @extend .p-2;
}

/* Custom styles */
@font-face {
  font-family: chulapa;
  src: url(../fonts/Chulapa/Chulapa-Bold.otf);
}

.chulapa {
  font-family: chulapa, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
}
