---
---
@charset "utf-8";
// Custom free font: see https://diario.madrid.es/chulapa/
@font-face {
  font-family: chulapa;
  src: url({{ "/assets/fonts/Chulapa/Chulapa-Bold_vmod.otf" | absolute_url }});
  font-display: fallback;
}
@import "skins/united";
@import "bootstrap/bootstrap";
@import "chulapa-master";
@import "reset-algolia";
