<div class="row my-1 d-none">
  <nav aria-label="breadcrumb" class="col-lg-8 offset-lg-2 col small">
   <ol class="breadcrumb mb-1 py-1" itemscope itemtype="https://schema.org/BreadcrumbList">
     {% if page.breadcrumb_list %}

      {% else %}
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"><a href="{{ "/" | absolute_url }}" itemprop="item"><span itemprop="name">Home</span></a>
          <meta itemprop="position" content="1" /></li>
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">page.title</span>
        <meta itemprop="position" content="2" />
      </li>
      {% endif %}
  </ol>
  </nav>
</div>
