<div class="row my-1">
  <nav aria-label="breadcrumb" class="col-lg-8 offset-lg-2 col small">
   <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"><a href="#" itemprop="item"><span itemprop="name">Books</span></a>
          <meta itemprop="position" content="1" /></li>
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">Award winners</span>
        <meta itemprop="position" content="2" />
      </li>
  </ol>
  </nav>
</div>
