{%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url | uri_escape -%}
{%- assign sharetitle = page.title | default: site.title | default: site.github.repository_name | strip_html  -%}
{%- assign classbread = "col-lg-8" -%}
{%- if page.show_sociallinks -%}
  {%- assign classbread = "col-lg-5" -%}
{% endif %}

{% assign tagsize = page.tags | size %}
<div class="row my-1">
<div class="{{ classbread }} offset-lg-2 col small">
  {% if page.show_breadcrumb %}
  <nav aria-label="breadcrumb">
   <ol class="breadcrumb my-0 py-0 chulapa-bg-transparent pl-0" itemscope itemtype="https://schema.org/BreadcrumbList">
     {% if page.breadcrumb_list %}
       {% for item in page.breadcrumb_list %}
             <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"><a href="{{ item.url | absolute_url }}" itemprop="item"><span itemprop="name">{{ item.label }}</span></a>
          <meta itemprop="position" content="{{ forloop.index }}" ></li>
          {% if forloop.last %}
          {% assign loopplus1 = forloop.index | plus: 1 %}
          {% endif %}
       {% endfor %}
       <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="{{ loopplus1 }}" >
      </li>
      {% else %}
      <li class="breadcrumb-item" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"><a href="{{ "/" | absolute_url }}" itemprop="item"><span itemprop="name">{{ site.navbar.brand.title | default: site.title | default: site.github.repository_name }}</span></a>
          <meta itemprop="position" content="1" ></li>
    <li class="breadcrumb-item active" aria-current="page" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
        <span itemprop="name">{{ page.title }}</span>
        <meta itemprop="position" content="2" >
      </li>
      {% endif %}
  </ol>
  </nav>
  {% endif %}
              {%- if page.date and page.show_date -%}
         <div class="chulapaDateSocial">
            {% if page.last_modified_at %}
            {%- assign dateformat1 = page.last_modified_at | date_to_string -%}
            {%- assign dateformat2 = page.date | date_to_string -%}
            <time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% include_cached snippets/datetranslate.html  date=dateformat1 %}</time> 
            <i class="fa fa-redo fa-xs" aria-hidden="true"></i>
            <br>
            <span class="font-weight-light chulapa-text-line-through">{% include_cached snippets/datetranslate.html  date=dateformat2 %}</span>
            {% else %}
            {%- assign dateformat = page.date | date_to_string -%}
            <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published" >{% include_cached snippets/datetranslate.html  date=dateformat %}</time>
            {% endif %}
         </div>
      {%- endif -%}
  
</div>
          {%- if page.show_sociallinks -%}
            {%- assign x_icon = "fa-square-x-twitter" -%}


            {% if site.fa_version == 5 -%}
              {%- assign x_icon = "fa-twitter-square" -%}
            {%- endif %}

          <div class="col-lg-3 col-sm-4 col-3 text-right lead chulapaDateSocial">
            <a  href="https://twitter.com/intent/tweet?url={{ canonical_url }}&text={{ sharetitle | url_encode }}{%- if site.twitter_site -%}&via={{- site.twitter_site -}}{%- endif -%}{%- if tagsize > 0 -%}&hashtags={{- page.tags | join: "," | replace: " ", "-" | replace: "-", "" -}}{%- endif -%}" title="Share on X" aria-label="Share on X" ><i class="fab {{ x_icon }} fa-lg" aria-hidden="true"></i></a>
            
            <a href="https://toot.kytta.dev/?text={{ sharetitle | uri_escape }}%20{{ canonical_url }}{%- if tagsize > 0 -%}%20%23{{- page.tags | join: '%20%23' | replace: " ", "-" | replace: "-", "" -}}{%- endif -%}" title="Share on Mastodon" aria-label="Share on Mastodon"><i class="fa-brands fa-mastodon fa-lg" aria-hidden="true"></i></a>
            
            <a  class="d-none d-sm-inline" href="https://www.facebook.com/sharer.php?u={{ canonical_url }}" title="Share on Facebook" aria-label="Share on Facebook" ><i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i></a>

             <a  class="d-none d-sm-inline" href="https://api.whatsapp.com/send?&text={{ sharetitle | url_encode }}%20{{ canonical_url }}" title="Share on Whatsapp" aria-label="Share on Whatsapp" ><i class="fab fa-whatsapp-square fa-lg" aria-hidden="true"></i></a>
         <a  class="d-none d-sm-inline" href="https://www.linkedin.com/shareArticle?url={{ canonical_url }}&title={{ sharetitle | url_encode }}" title="Share on LinkedIn" aria-label="Share on LinkedIn"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i></a>

          </div>
          {%- endif -%}
</div>
