{% if site.comments.cactus_shortname %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <div id="comment-section"></div>
 <script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "{{ site.comments.cactus_shortname }}",
    commentSectionId: "{{ include.pageurl | replace: "_", "-" }}"
  })
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://cactus.chat" rel="nofollow">comments powered by matrix.org.</a></noscript>
  </div>
</div>
{% endif %}
