{% if site.comments.cusdis_app_id %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div id="cusdis_thread"
      class = "py-4"
      data-host="{{ site.comments.cusdis_host | default: 'https://cusdis.com' }}"
      data-app-id="{{ site.comments.cusdis_app_id }}"
      data-page-id="{{ include.pageid }}"
      data-page-url="{{ include.pageurl | absolute_url }}"
      data-page-title="{{ include.pagetitle }}"
      ></div>
      <script async defer src="{{ '/assets/js/cusdis/chulapa_cusdis.js' | absolute_url }}"></script>
    </div>
  </div>
</div>

{% endif %}
