      <div class="row" id="chulapaDateSocial">
          <div class=" col-xl-4 offset-xl-2 col font-italic">
            {%- if page.date and page.showdate == "true" -%}
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}<time>
            {%- endif -%}
          </div>

          {%- if page.sociallinks == "true" -%}
          <div class="col-xl-4 col text-right lead">
            <a href="https://twitter.com/intent/tweet?url={{ canonical_url }}&text={{ metatitle | url_encode }}" title="Share on Twitter"><i class="fa fa-twitter-square fa-lg mr-1"></i></a>
             <a href="https://www.facebook.com/sharer.php?u={{ canonical_url }}" title="Share on Facebook"><i class="fa fa-facebook-square fa-lg"></i></a>
            <a href="https://www.linkedin.com/shareArticle?url={{ canonical_url }}&title={{ metatitle }}" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-lg ml-1"></i></a>
          </div>
          {%- endif -%}
      </div>
