{% if include.headertype =="splash" %}
  {% if- include.imghero -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center splash-chulapa-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25)), url('{{ include.imghero }}')">
  {% else %}
<header class="jumbotron jumbotron-fluid d-flex align-items-center splash-chulapa">
  {% endif %}
  <div class="container">
    <h1>{{- page.title | default: "Where's your title?" -}}</h1>
    <hr class="my-3">
    <p>{{- page.subtitle -}}</p>
  </div>
</header>
{% endif %}

{% if include.headertype == "hero" %}
  {% if- include.imghero -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center hero-chulapa-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25)), url('{{ include.imghero }}')">
  {% else %}
<header class="jumbotron jumbotron-fluid d-flex align-items-center hero-chulapa">
  {% endif %}
  <div class="container">
    <h1>{{- page.title | default: "Where's your title?" -}}</h1>
    <hr class="my-3">
    <p>{{- page.subtitle -}}</p>
  </div>
</header>
{% endif %}