{%- if include.headertype =="splash" -%}
  {%- if include.imghero -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center splash-chulapa-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url('{{ include.imghero }}')">
  {%- else -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center splash-chulapa">
  {%- endif -%}
  <div class="container">
    <h1>{{- page.title | default: "Where's your title?" -}}</h1>
    {%- if page.subtitle -%}
    <hr class="my-3">
    <p>{{- page.subtitle -}}</p>
    {%- endif -%}
  </div>
</header>
{%- endif -%}

{%- if include.headertype == "hero" -%}
  {%- if include.imghero -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center hero-chulapa-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url('{{ include.imghero }}')">
  {%- else -%}
<header class="jumbotron jumbotron-fluid d-flex align-items-center hero-chulapa">
  {%- endif -%}
  <div class="container">
    <h1>{{- page.title | default: "Where's your title?" -}}</h1>
    {%- if page.subtitle -%}
    <hr class="my-3">
    <p>{{- page.subtitle -}}</p>
    {%- endif -%}
  </div>
</header>
{%- endif -%}

{%- if include.headertype == "base" -%}
<header class="jumbotron jumbotron-fluid py-0 text-md-center header-chulapa">
      {%- if include.imghero -%}
      <div class="container-fluid header-chulapa-img" style="background-image: url('{{ include.imghero }}')">
</div>
      
      {%- endif -%}
      <div class="container header-chulapa-text pt-4">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
            <h1 class="display-4">{{- page.title | default: "Where's your title?" -}}</h1>
            {%- if page.subtitle -%}
            <p class="lead">{{- page.subtitle -}}</p>
            {%- endif -%}
			</div>
		<div>
	</div>
</header>

{%- endif -%}
