 {%- if include.imghero -%}
  <header class="hero-chulapa-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25)), url('{{ include.imghero }}')">
      {%- else -%}
  <header class="hero-chulapa">
{%- endif -%}
<div class="container-fluid">
    <div class="row h-100">
        <div class="col-10 offset-1 align-items-center">
            <h1>{{- page.title | default: "Where's your title?" -}}</h1>
            {%- if page.subtitle -%}
            <hr class="my-3">
            <p>{{- page.subtitle -}}</p>
            {%- endif -%}
        </div>
    </div>
<div>
</header>
