{%- assign alldocs = include.cacheddocs -%}
   {% for post in alldocs limit: include.cachedlimit %} 
<div class="col-12 mb-2">
<div class="card chulapa-border-card-index">
	<div class="row g-0">
		<a href="{{- post.url | absolute_url -}}" class="col-sm-1 chulapa-min-h-10 chulapa-card-img chulapa-overlay-img chulapa-gradient {% if post.header_img == nil or post.og_image -%} d-none d-sm-flex {% endif %} "
{% if post.header_img or post.og_image  -%} style="background-image: url('{{- post.og_image | default: post.header_img | absolute_url -}}')"{%-endif-%}>
		</a>
		<div class="col-sm">
			<article class="card-body chulapa-links-hover-only">
				<a href="{{- post.url | absolute_url -}}"><h5 class="card-title">{{- post.title  | default: "---" -}}</h5></a>
				{% if post.subtitle -%}<h6 class="card-subtitle mb-2 text-muted">{{- post.subtitle -}}</h6>{%- endif %}
				
{%- assign fallbackdesc = post.content | 
              markdownify |  newline_to_br | 
              replace:"<br />", ",.," | 
              replace:"{{", ",.," | 
              replace:"{%", ",.," | 
              split: ",.," | first -%}
				<div class="card-text">{{- post.excerpt | default: fallbackdesc | strip_html | 
              escape_once -}}
				</div>
			</article>
			{% if post.date or post.show_tags or post.show_categories %}
			<div class="border-top-0 card-footer border-primary chulapa-bg-transparent">
				{% if post.date -%}<p class="small text-right font-italic mb-1">
{% if post.last_modified_at %}
<i class="fa fa-redo fa-xs" aria-hidden="true"></i> {% endif %}
<time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%d/%m/%Y"  -}}</time></p>{%- endif %}
				{%- for category in post.categories -%}
				<a href="{{- category | replace: " ", "-" | prepend: "#" |
						prepend: post.cloudcategory_url |
						absolute_url | uri_escape -}}" class="badge chulapa-pill-bg-secondary mx-1">{{- category -}}
				</a>
				{%- endfor -%}
				{%- for tag in post.tags -%}
				<a href="{{- tag | replace: " ", "-" | prepend: "#" |
					   prepend: post.cloudtag_url |
					   absolute_url | uri_escape -}}" class="badge chulapa-pill-bg-primary mx-1">{{- tag -}}
				</a>
				{%- endfor -%}
				</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
{% endfor %}