/*! Academia by dieghernan */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');


$font-family-base: Roboto, sans-serif;
$headings-font-family: Montserrat, sans-serif;
$font-family-monospace: Roboto Mono, monospace;
$white: white;
$primary: #1565c0;
$body-bg: white;
$navbar-chulapa-bg-color: white;
$navbar-chulapa-active-color: #2962ff;
$footer-chulapa-icon-color: #1565c0;
$footer-chulapa-icon-hover-color: transparent;
$code-color: #E80E61;
$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

.navbar-chulapa-fab .dropdown-item.active, 
.navbar-chulapa-fab .dropdown-item:active {
    background-color:white;
}


.chulapa-links-hover-only i {
  color:$primary;
}
