$chulapa-col: crimson !default;


// Colors 
$white:    mix(#fff,$chulapa-col,95%);
$gray-100: mix(#f8f9fa,$chulapa-col,85%);
$gray-200: mix(#e9ecef,$chulapa-col,85%);
$gray-300: mix(#dee2e6,$chulapa-col,85%);
$gray-400: mix(#ced4da,$chulapa-col,85%);
$gray-500: mix(#adb5bd,$chulapa-col,85%);
$gray-600: mix(#6c757d,$chulapa-col,85%);
$gray-700: mix(#495057,$chulapa-col,85%);
$gray-800: mix(#343a40,$chulapa-col,85%);
$gray-900: mix(#212529,$chulapa-col,85%);
$black:    mix(#000,$chulapa-col,95%);

$blue:    $chulapa-col;
$indigo:  mix(#6610f2,$chulapa-col,60%);
$purple:  mix(#6f42c1,$chulapa-col,60%);
$pink:    mix(#e83e8c,$chulapa-col,60%);
$red:     mix(#dc3545,$chulapa-col,60%);
$orange:  mix(#fd7e14,$chulapa-col,60%);
$yellow:  mix(#ffc107,$chulapa-col,60%);
$green:   mix(#28a745,$chulapa-col,60%);
$teal:    mix(#20c997,$chulapa-col,60%);
$cyan:    mix(#17a2b8,$chulapa-col,60%);

$dark:    mix(black, $chulapa-col,80%); 
$light:   mix(white, $chulapa-col,75%);

//Components
$navbar-light-color:$dark;
$navbar-dark-color: $light;


$table-accent-bg: $light;
$body-bg:         $white;
$link-color:      darken($chulapa-col, 25%);

