// Butterfly Dim

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$headings-font-family: 'Inter', 'Roboto' !default;
$font-family-base: 'Inter', 'Roboto' !default;

// Disable ligatures
:root {
  font-variant-ligatures: none;
}

$primary: #208bfe !default;
$secondary: #c9d2db !default;
$success: #00a400 !default;
$info: #54c7ec !default;
$warning: #ffba00 !default;
$danger: #fa383e !default;
$dark: #0b0f14 !default;
$white: #ffffff !default;
$black: #161e27 !default;

$body-bg: $black !default;
$body-color: $white !default;

$hero-chulapa-bg-color: $body-bg !default;
$thead-chulapa-bg-color: $primary !default;
$blockquote-chulapa-bg-color: mix($body-bg, $primary, 80%) !default;
$blockquote-chulapa-text-color: mix($body-color, $primary, 95%) !default;
$pre-chulapa-bg-color: mix($body-color, $primary, 95%) !default;

$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-brand-color: $body-color !default;
$navbar-chulapa-hover-color: $primary !default;
$navbar-chulapa-active-color: $primary !default;
$dropdown-link-active-bg: lighten($primary, 30%) !default;

$footer-chulapa-text-color: $body-color !default;
$footer-chulapa-link-color: $primary !default;

$pagination-chulapa-bg-hover-color: $primary !default;

$min-contrast-ratio: 2 !default;

@import "skins/dark-bg";

.card.bg-primary {
  color: $white;
}

.card.bg-secondary {
  color: $dark;
}