/*! Chulapa by dieghernan */

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$headings-font-family: chulapa,
sans-serif !default;
$font-family-base: 'Ibarra Real Nova', serif !default;
$enable-rounded: false !default;
$btn-font-family: $headings-font-family !default;

h1,
h2,
h3,
h4,
footer,
blockquote,
button,
legend,
label,
.alert-heading,
.btn,
.card-header,
.nav-tabs,
.nav-pills,
.badge,
.breadcrumb,
.pagination,
.navbar {
    font-family: $headings-font-family !important;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
}

.alert,
.jumbotron {
    font-family: $headings-font-family !important;
}

$primary: #edc7b7 !default;
$secondary: #687864 !default;
$success: #88bdbc !default;
$info: #31708e !default;
$warning: #fffe7a !default;
$danger: #f13c20 !default;
$dark: darken($secondary, 10%) !default;
$navbar-chulapa-toggler-border-color: transparent !default;

/* Use auto */
@import "skins/auto";
