@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Inter:wght@100..900&family=Inter+Tight:wght@100..900&display=swap');


// Colors

$primary: #22272e !default;
$link-color: #0969da !default;
$success: #2A874B !default;
$warning: #C15807 !default;
$danger: #cf222e !default;
$info: #8250df !default;
$black: #0d1117 !default;

$body-bg: #fff !default;
$body-color: #24292f !default;

// Typography

$headings-font-family: 'Inter Tight', Roboto !default;
$font-family-base: 'Inter', Roboto !default;
$font-family-monospace: 'Roboto Mono', monospace !default;
$headings-font-weight: 800 !default;
$text-muted: #6A788A !default;

// Chulapa components

$navbar-chulapa-bg-color: $primary !default;
$navbar-chulapa-toggler-border-color: $primary !default;
$navbar-chulapa-text-color: $body-bg !default;
$navbar-chulapa-hover-color: $text-muted !default;
$navbar-chulapa-brand-color: $navbar-chulapa-text-color !default;

