@font-face {
  font-family: 'Mona Sans';
  src:
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}


@font-face {
  font-family: 'Hubot Sans';
  src:
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/dieghernan/chulapa@master/assets/fonts/Hubot-Sans/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

// Colors

$body-color: #fff !default;
$body-bg: #24292f !default;

$primary: mix($body-color,$body-bg, 10%) !default;
$secondary: mix($body-color,$body-bg, 90%) !default;
$white: #fff !default;
$black: #373e47 !default;
$light: #aab3be !default;
$link-color: #2B8FFD !default;
$success: #2da44e !default;
$warning: #d4a72c !default;
$danger: #D86F75 !default;
$info: #9686BE !default;


// Typography

$headings-font-family: 'Mona Sans', Roboto !default;
$font-family-base: 'Hubot Sans', Roboto !default;
$font-family-monospace: 'Roboto Mono', monospace !default;
$headings-font-weight: 800 !default;
$text-muted: #8b949e !default;

// Chulapa components

$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-toggler-border-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-hover-color: $text-muted !default;
$navbar-chulapa-brand-color: $navbar-chulapa-text-color !default;

$footer-chulapa-bg-color: $body-bg !default;
$footer-chulapa-text-color: $text-muted !default;
$footer-chulapa-hover-color: #58a6ff !default;
$footer-chulapa-icon-hover-color: mix($footer-chulapa-hover-color, $footer-chulapa-bg-color, 20%) !default;

// Misc
// Blockquote
$blockquote-chulapa-bg-color: $body-bg !default;
$blockquote-chulapa-text-color: $body-color !default;

$pre-chulapa-bg-color: mix($body-bg, $body-color, 5%) !default;



$pagination-chulapa-bg-hover-color: $white !default;
$min-contrast-ratio: 2 !default;


// Lines for dark themes

@import "skins/dark-bg";


// Special rules

.hero-chulapa h1, 
.hero-chulapa-image h1, 
.splash-chulapa h1, 
.splash-chulapa-image h1 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight !important;
}

nav, .navbar, .navbar-chulapa-fab .nav-item, .navbar-chulapa, .footer-chulapa {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight  !important;
}


.navbar-chulapa .active, .navbar-chulapa-fab .active {
color: mix($navbar-chulapa-text-color, $navbar-chulapa-bg-color, 80%) !important;
}


.chulapa-links-hover-only i {
  color:$link-color;
}

.chulapaDateSocial time, .chulapaDateSocial .chulapa-text-line-through {
  font-family: $font-family-monospace;
}

time {
  font-family: $font-family-monospace;
  font-style: normal !important;
}

blockquote {
    border-radius: 0 !important;
    border-left: solid $link-color !important;
}

