@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$headings-font-family: "Raleway", Helvetica, Arial, sans-serif;
$font-family-base: $headings-font-family;

// Disable ligatures
:root {
  font-variant-ligatures: none;
}

$headings-font-weight: 800 !default;

// Some bootstrap variables
$primary: #1ed760 !default;
$secondary: #7c7c7c !default;
$success: $primary !default;
$warning: #ffa42b !default;
$danger: #ed2c3f !default;
$info: #4cb3ff !default;
$light: #c1c2c2 !default;
$dark: #15181c !default;
$black: #121212 !default;
$body-bg: $black !default;
$body-color: $light !default;
$hero-chulapa-bg-color: $black !default;
$hero-chulapa-text-color: $light !default;
$thead-chulapa-bg-color: $primary !default;
$blockquote-chulapa-bg-color: mix($body-bg, $primary, 80%) !default;
$blockquote-chulapa-text-color: mix($body-color, $primary, 95%) !default;
$pre-chulapa-bg-color: mix($body-color, $primary, 95%) !default;

$navbar-chulapa-toggler-border-color: $black;
$navbar-chulapa-toggler-color: $primary;

$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-brand-color: $body-color !default;
$navbar-chulapa-hover-color: $primary !default;
$navbar-chulapa-active-color: $primary !default;
$dropdown-link-active-bg: lighten($primary, 30%) !default;

$footer-chulapa-text-color: $body-color !default;
$footer-chulapa-link-color: $primary !default;

$pagination-chulapa-bg-hover-color: $primary !default;

$min-contrast-ratio: 2 !default;
$yiq-contrasted-threshold: 130 !default;

// Lines for dark themes
@import "skins/dark-bg";