//Twitter dim
$chulapa-col: #15202b;
// Some bootstrap variables
$primary: #1da1f2;
$secondary:#788995;
$success: #17bf63;
$warning: #ffad1f;
$danger: #e0245e;
$info: #794bc4;
$dark: #192734;
$body-bg:$chulapa-col;
$body-color: #fff;
$hero-chulapa-bg-color:$chulapa-col;
$thead-chulapa-bg-color: $primary;
$blockquote-chulapa-bg-color: mix(white, $primary, 80%);
$blockquote-chulapa-text-color: mix(black, $primary, 80%);

$navbar-chulapa-text-color: white;
$navbar-chulapa-brand-color: white;
$navbar-chulapa-hover-color: $primary;
$navbar-chulapa-active-color: $primary;

$footer-chulapa-text-color: white;
$footer-chulapa-hover-color: $primary;

@import "bootstrap/functions";
@import "bootstrap/variables";