
// Some bootstrap variables
$primary: #1da1f2;
$secondary:#788995;
$success: #17bf63;
$warning: #ffad1f;
$danger: #e0245e;
$info: #794bc4;
$light: #f5f8fa;
$body-bg:#fff;
$body-color: #14171a;
$hero-chulapa-bg-color:#fff;
$thead-chulapa-bg-color: $primary;
$blockquote-chulapa-bg-color: mix(white, $primary, 80%);
$blockquote-chulapa-text-color: mix(black, $primary, 80%);
$navbar-chulapa-bg-color: #fff;
$navbar-chulapa-text-color: $body-color;
$navbar-chulapa-brand-color:$body-color;
$navbar-chulapa-hover-color: $primary;
$navbar-chulapa-active-color: $primary;

$footer-chulapa-text-color: $body-color;
$footer-chulapa-hover-color: $primary;

$pagination-chulapa-bg-hover-color: $primary;

$min-contrast-ratio: 2;
