// Some bootstrap variables
$primary: #1da1f2;
$secondary:#788995;
$success: #17bf63;
$warning: #ffad1f;
$danger: #e0245e;
$info: #794bc4;
$light: #c1c2c2;
$dark: #15181c;
$body-bg:#000;
$body-color: $light;
$hero-chulapa-bg-color:#000;
$hero-chulapa-text-color:$light;
$thead-chulapa-bg-color: $primary;
$blockquote-chulapa-bg-color: mix(white, $primary, 80%);
$blockquote-chulapa-text-color: mix(black, $primary, 80%);

$navbar-chulapa-bg-color: #000;
$navbar-chulapa-text-color: $light;
$navbar-chulapa-brand-color: $light;
$navbar-chulapa-hover-color: $primary;
$navbar-chulapa-active-color: $primary;

$footer-chulapa-text-color: $light;
$footer-chulapa-hover-color: $primary;

$pagination-chulapa-bg-hover-color: $primary;

$min-contrast-ratio: 2;