//Twitter dim
// Some bootstrap variables
$primary: #1da1f2 !default;
$secondary:#788995 !default;
$success: #17bf63 !default;
$warning: #ffad1f !default;
$danger: #DF5388 !default;
$info: #8C7FAA !default;
$dark: #192734 !default;
$black: #15202b !default;
$white: #fff !default;
$body-bg: $black !default;
$body-color: $white !default;
$hero-chulapa-bg-color:#15202b !default;
$thead-chulapa-bg-color: $primary !default;
$blockquote-chulapa-bg-color: mix($body-bg, $primary, 80%) !default;
$blockquote-chulapa-text-color: mix($body-color, $primary, 95%) !default;
$pre-chulapa-bg-color: mix($body-color, $primary, 95%) !default;


$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-brand-color: $body-color !default;
$navbar-chulapa-hover-color: $primary !default;
$navbar-chulapa-active-color: $primary !default;
$dropdown-link-active-bg: lighten($primary, 30%) !default;

$footer-chulapa-text-color: $body-color !default;
$footer-chulapa-hover-color: $primary !default;

$pagination-chulapa-bg-hover-color: $primary !default;

$min-contrast-ratio: 2 !default;

$breadcrumb-divider: quote(">") !default;

// Lines for dark themes

@import "skins/dark-bg";

