
// Some bootstrap variables
$primary: #1da1f2 !default;
$secondary:#788995 !default;
$success: #17bf63 !default;
$warning: #ffad1f !default;
$danger: #e0245e !default;
$info: #794bc4 !default;
$light: #f5f8fa !default;
$body-bg:#fff !default;
$body-color: #14171a !default;
$code-color: #E80E61 !default;
$thead-chulapa-bg-color: $primary !default;
$blockquote-chulapa-bg-color: mix(white, $primary, 80%) !default;
$blockquote-chulapa-text-color: mix(black, $primary, 80%) !default;
$navbar-chulapa-bg-color: $body-bg !default;
$navbar-chulapa-text-color: $body-color !default;
$navbar-chulapa-brand-color:$body-color !default;
$navbar-chulapa-hover-color: $primary !default;
$navbar-chulapa-active-color: $primary !default;
$dropdown-link-active-bg: lighten($primary, 30%) !default;
$hero-chulapa-bg-color: $primary !default;
$footer-chulapa-text-color: $body-color !default;
$footer-chulapa-hover-color: $primary !default;

$pagination-chulapa-bg-hover-color: $primary !default;

$min-contrast-ratio: 2 !default;

$breadcrumb-divider: quote(">") !default;