
$chulapa-col: #1da1f2;

//Some bootstrap variables

$primary: #1da1f2;
$secondary:#657786;
$success: #1abf63;
$warning: #ffa722;
$danger: #e12862;
$info: #7c4ac5;
$light: #F5F8FA;
$body-bg: #fafafc;
$body-color: #14171A;
//$link-color: value;
$link-hover-color: $primary;


//$chulapa-pre-color-bg: value;
$navbar-chulapa-bg-color: #F5F8FA;
$navbar-chulapa-text-color: #657786;
$navbar-chulapa-hover-color: $primary;
$navbar-chulapa-active-color: $navbar-chulapa-hover-color;
//$navbar-chulapa-disabled-color:           value; 
//$navbar-chulapa-brand-color:              value; 
//$navbar-chulapa-brand-hover-color:        value; 
//$navbar-chulapa-toggler-color:            value;
//$navbar-chulapa-toggler-color-bg:         value;
$navbar-chulapa-toggler-border-color: none;

//$footer-chulapa-bg-color:                 value; 
$footer-chulapa-text-color: $primary;
$footer-chulapa-hover-color: darken(#E1E8ED,10%);
//$footer-chulapa-icon-color:               value;

$hero-chulapa-bg-color: $primary;
$hero-chulapa-text-color: mix(#fff, $chulapa-col, 95%);


//$blockquote-chulapa-bg-color: value;
$blockquote-chulapa-border-color: $primary;
//$blockquote-chulapa-text-color: value;

@import "skins/auto";