// Adapted from Bootstrapius
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;300;400;500;700&display=swap");

$font-family-base: "Roboto";
$font-family-monospace: "Roboto Mono";
$headings-font-weight: 700;
$body-bg: #fff;
$primary: #986dbd;
$green: #97bf13;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$headings-color: #333;
$link-color: #986dbd;
$navbar-chulapa-brand-color: #000;
$navbar-chulapa-bg-color: white;
$navbar-chulapa-toggler-color: #986dbd;
$navbar-chulapa-active-color: #986dbd;
$hero-chulapa-bg-color: #986dbd;
$hero-chulapa-text-color: black;
$footer-chulapa-bg-color: #333;
$footer-chulapa-text-color: #ccc;
$footer-chulapa-icon-color: #ccc;
$footer-chulapa-icon-hover-color: #724599;
