---
layout: default
---

{{- content -}}


{%- if page.include_collection -%}
  {%- assign cols = page.include_collection | split: "," -%}
  {%- for col  in cols -%}
    {%- if forloop.first -%}
      {%- assign alldocs = site.documents | 
                          where_exp: "item", "item.collection == col" -%}
      {%- assign showcol = false -%}
    {%- else -%}
      {%- assign docloop = site.documents | 
                          where_exp: "item", "item.collection == col" -%}
      {%- assign alldocs = alldocs | concat: docloop %}
      {%- assign showcol = true -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- assign alldocs = site.documents -%}
  {%- assign showcol = true -%}
{% endif %}

{%- assign alldocs = alldocs | sort: 'date' | reverse -%}
{%- if page.include_missdates -%}
{%- else -%}
  {%- assign alldocs = alldocs | where_exp: "item", "item.date != nil" -%}
{%- endif -%}


{%- assign postsInYear = alldocs | group_by_exp: 'post', 'post.date | date: "%Y"' -%}
<div class="row row-cols-1 row-cols-sm-2 pt-5 mx-n1" id="years">
{%- for year in postsInYear -%}
	<div class="col-sm-6 chulapa-links-hover-only py-2">
		<a href="#{{ year.name | default: "-" }}" class="d-flex justify-content-between align-items-center border-bottom ">
{{ year.name | default: "NA" }} <span class="badge rounded-pill chulapa-pill-bg-primary">{{ year.items | size }}</span>
		</a>
	</div>
{%- endfor -%}
</div>

{%- for year in postsInYear -%}
<section id="{{ year.name | default: "NA" }}" class="mt-2 chulapa-archive">
	<h2 class="border-bottom border-chulapa">{{ year.name | default: "NA" }}</h2>
	{%- assign postsInMonth = year.items | group_by_exp: 'post', 'post.date | date: "%B"' -%}
	{%- for month in postsInMonth  -%}
	{%- assign dateformat = month.name -%}
	{% if dateformat %}
	  <h5 class="font-weight-light">{% include_cached snippets/datetranslate.html  date=dateformat %}</h5>
	{% endif %}
  	{%- for document in month.items -%}
	<div class="ml-2 my-1">
		<div class="row g-0">
			<article class="col">
				<h6 class="my-2"><a href="{{- document.url | absolute_url -}}" class="chulapa-text-body-color">{{ document.title }}</a></h6>
				<p class="small mb-1">
				{% if document.date %}
				{% assign dateformat = document.date | date: "%A, %d" %}
				  <time datetime="{{- document.date | date_to_xmlschema -}}">{% include_cached snippets/datetranslate.html  date=dateformat %}</time>
				  {% if document.last_modified_at %} <i class="fa fa-redo fa-sm" aria-hidden="true"></i>{% endif %}
			  {% endif %}
			  {%- if showcol -%}
			    <span class="mx-1 my-1 badge chulapa-pill-bg-body">{{ document.collection }}</span>
        {%- endif -%}
        </p>
			</article>
			{%- if document.header_img  or document.og_image  -%}
			<a href="{{- document.url | absolute_url -}}" class="col-2 ml-2 btn chulapa-overlay-img chulapa-gradient" style="background-image: url('{{ document.og_image | default: document.header_img | absolute_url }}')"></a>
			{%- endif -%}
		</div>
	</div>
	{% endfor %}
<hr class="w-50 bg-light">
	{% endfor %}
	<div class="text-right">
		<a href="#years" class="btn btn-lg border-0 chulapa-text-body-color"><i class="fa fa-chevron-up fa-lg" aria-hidden="true"></i><span class="sr-only">Top</span></a>
	</div>
</section>
{% endfor %}
