---
layout: minimal
---
<div class="chulapa-bg-landingpage">
	{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}
</div>
<div class="chulapa-bg-landingpage flex-fill">
	<main class="container-lg  pb-3 chulapa-landingpage-color chulapa-bg-landingpage">
	  {% if page.show_breadcrumb or page.show_date or page.show_sociallinks -%}
	  {%- include components/breadcrumbdatesocial.html -%}
	  {% endif %}
		<div class="row pt-2">
			<aside class="col-lg-2 mt-lg-3 small">
			  {%- if page.show_author -%}
			  {% include components/author.html %}
			  {%- endif -%}
			</aside>
			<article id="maincontent" class="col-lg-8 mt-3 e-content">
			
			{% if page.show_sidetoc %}
			
			{% include components/sidetoc.html %}
			
			{% endif %}
			
			 {% if page.show_toc %} 
			               {% assign h_min = page.h_min | default: 2 %}
                           {% assign h_max = page.h_max | default: 4 %}
              <nav aria-label="table-of-contents">
			 {% include components/toc.html sanitize=false html=content h_min=h_min h_max=h_max skip_no_ids=true id="toc" class="chulapa-toc-wrapper.list-group.mb-5.mx-3.mx-lg-5" item_class="list-group-item.font-weight-bold.py-1.pr-0.mr-0.chulapa-toc-reset" %}
			 </nav>
			  {% endif %}
			{{- content -}}
			
			{% if page.show_applause %} 
			<div class="mb-2 mt-5 text-center"><applause-button id="applause" class="mx-auto" style="width: 40px; height: 40px;" url="{{ page.url | absolute_url }}"></applause-button></div>
			{% endif %}
			</article>
		</div>
	</main>
</div>
	<div class="chulapa-bg-landingpage">
	{%- if page.show_bottomnavs -%}
	<div class="chulapa-landingpage-color">
	  {%- include components/navbeforeafter.html -%}
	  </div>
	{%- endif -%}
	{%- if page.show_categories -%}
	{% assign size = page.categories | size %}
	{% if size > 0 %}
	<div class="chulapa-landingpage-badges">
  	{%- include components/categories.html-%}
  </div>
  {% endif %}
	{%- endif -%}
	{%- if page.show_tags -%}
	{% assign size = page.tags | size %}
	{% if size > 0 %}
	<div class="chulapa-landingpage-badges chulapa-landingpage-tag">
	  {%- include components/tags.html-%}
	</div>
	{% endif %}
	{%- endif -%}
	</div>
	{%- if page.show_related -%}
	<div class="chulapa-landingpage-related">
	  {%- include components/related.html -%}
	  </div>
	{%- endif -%}