---
skinmakers:
  preptor:
    name: Preptor
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  lymcha:
    name: Lymcha
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  hootstrap:
    name: Hootstrap
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  deeply:
    name: Deeply
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  graymor:
    name: Graymor
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  wandoo:
    name: Wandoo
    author: Tophat
    url: https://themesguide.github.io/top-hat/dist/
  sketchy:
    name: Sketchy
    author: Bootswatch
    url: https://bootswatch.com/
  lux:
    name: Lux
    author: Bootswatch
    url: https://bootswatch.com/
  journal:
    name: Journal
    author: Bootswatch
    url: https://bootswatch.com/
  minty:
    name: Minty
    author: Bootswatch
    url: https://bootswatch.com/
  twitter:
    name: Twitter
    author: dieghernan
    url: https://github.com/dieghernan
  twitter-dim:
    name: Twitter Dim
    author: dieghernan
    url: https://github.com/dieghernan
  twitter-lights-out:
    name: Twitter Lights Out
    author: dieghernan
    url: https://github.com/dieghernan
  chulapa:
    name: Chulapa
    author: dieghernan
    url: https://github.com/dieghernan
---
<!doctype html>
<html lang="{{- site.locale | default: 'en-US' -}}">
{%- include head.html -%}
<body>
  {%- assign skinner = layout.skinmakers[site.chulapa-skin.theme] -%}
  {%- include navbar.html -%}
  {{- content -}}
  {%- include footer.html skinner=skinner -%}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr/lunr-search.js' | relative_url }}"></script>
{% include custom/custom_bottomscripts.html %}
</body>
</html>
