---
---


// Define color variables
$red-2: #ffa198;
$red-3: #ff7b72;
$red-9: #490202;
$orange-2: #ffa657;
$orange-3: #f0883e;
$green-1: #7ee787;
$green-2: #56d364;
$green-7: #0f5323;
$blue-1: #a5d6ff;
$blue-2: #79c0ff;
$purple-2: #d2a8ff;
$gray-3: #8b949e;
$gray-4: #6e7681;
$fg-subtle: #6e7681;
$fg-default: #e6edf3;
$bg-default: #0d1117;
$danger-fg: #f85149;

// Highlight-specific variables
$highlight-color-comment: $gray-3;
$highlight-color-error: $danger-fg;
$highlight-color-keyword: $red-3;
$highlight-color-operator: $red-3;
$highlight-color-deleted: $red-9;
$highlight-bg-deleted: $red-2;
$highlight-color-emph: $red-3;
$highlight-color-traceback: $red-3;
$highlight-color-heading: $blue-2;
$highlight-color-inserted: $green-7;
$highlight-bg-inserted: $green-2;
$highlight-color-output: $gray-3;
$highlight-color-prompt: $gray-3;
$highlight-color-strong: bold;
$highlight-color-subheading: $blue-2;
$highlight-color-type: $orange-3;
$highlight-color-number: $blue-1;
$highlight-color-string: $blue-1;
$highlight-color-attribute: $blue-1;
$highlight-color-builtin: $blue-2;
$highlight-color-class: $orange-3;
$highlight-color-decorator: $purple-2;
$highlight-color-entity: $orange-2;
$highlight-color-exception: $orange-3;
$highlight-color-function: $purple-2;
$highlight-color-label: $blue-2;
$highlight-color-namespace: $red-3;
$highlight-color-tag: $green-1;
$highlight-color-variable: $blue-2;
$highlight-color-whitespace: $fg-subtle;
$highlight-color-symbol: $purple-2;

// Highlight styles
.highlight,
.highlight pre,
.highlight table {
  background-color: $bg-default;
  color: $fg-default;
}

.highlight .c,
.highlight .cm,
.highlight .c1 {
  color: $highlight-color-comment;
  font-style: italic;
} /* Comments */

.highlight .cp,
.highlight .cs {
  color: $highlight-color-comment;
  font-weight: bold;
} /* Preprocessor and Special Comments */

.highlight .err {
  color: $highlight-color-error;
} /* Error */

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .ow {
  color: $highlight-color-keyword;
} /* Keywords */

.highlight .kt {
  color: $highlight-color-type;
} /* Keyword.Type */

.highlight .o {
  color: $highlight-color-operator;
  font-weight: bold;
} /* Operator */

.highlight .gd {
  color: $highlight-color-deleted;
  background-color: $highlight-bg-deleted;
} /* Generic.Deleted */

.highlight .ge {
  font-style: italic;
} /* Generic.Emph */

.highlight .gr,
.highlight .gt {
  color: $highlight-color-traceback;
} /* Generic.Error and Traceback */

.highlight .gh {
  color: $highlight-color-heading;
  font-weight: bold;
} /* Generic.Heading */

.highlight .gi {
  color: $highlight-color-inserted;
  background-color: $highlight-bg-inserted;
} /* Generic.Inserted */

.highlight .go {
  color: $highlight-color-output;
} /* Generic.Output */

.highlight .gp {
  color: $highlight-color-prompt;
} /* Generic.Prompt */

.highlight .gs {
  font-weight: $highlight-color-strong;
} /* Generic.Strong */

.highlight .gu {
  color: $highlight-color-subheading;
} /* Generic.Subheading */

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: $highlight-color-number;
} /* Numbers */

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1 {
  color: $highlight-color-string;
} /* Strings */

.highlight .sr {
  color: $highlight-color-string;
} /* Literal.String.Regex */

.highlight .ss {
  color: $highlight-color-symbol;
} /* Literal.String.Symbol */

.highlight .na,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: $highlight-color-attribute;
} /* Name.Attribute and Variables */

.highlight .nb,
.highlight .bp {
  color: $highlight-color-builtin;
} /* Name.Builtin */

.highlight .nc {
  color: $highlight-color-class;
  font-weight: bold;
} /* Name.Class */

.highlight .no {
  color: $highlight-color-attribute;
  font-weight: bold;
} /* Name.Constant */

.highlight .nd {
  color: $highlight-color-decorator;
  font-weight: bold;
} /* Name.Decorator */

.highlight .ni {
  color: $highlight-color-entity;
} /* Name.Entity */

.highlight .ne {
  color: $highlight-color-exception;
  font-weight: bold;
} /* Name.Exception */

.highlight .nf,
.highlight .nl {
  color: $highlight-color-function;
  font-weight: bold;
} /* Name.Function and Label */

.highlight .nn {
  color: $highlight-color-namespace;
} /* Name.Namespace */

.highlight .nt {
  color: $highlight-color-tag;
} /* Name.Tag */

.highlight .nv {
  color: $highlight-color-variable;
} /* Name.Variable */

.highlight .w {
  color: $highlight-color-whitespace;
} /* Text.Whitespace */
