---
---

// Define color variables
$highlight-bg-base: #FBF3DB;
$highlight-color-base: #53676D;

$highlight-bg-hll: #D5CDB6;
$highlight-color-comment: #909995;
$highlight-color-keyword: #489100;
$highlight-color-operator: #489100;
$highlight-color-heading: #A78300;
$highlight-color-subheading: #A78300;
$highlight-color-type: #489100;
$highlight-color-number: #009C8F;
$highlight-color-string: #009C8F;
$highlight-color-builtin: #0072D4;
$highlight-color-class: #0072D4;
$highlight-color-decorator: #0072D4;
$highlight-color-entity: #0072D4;
$highlight-color-attribute: #0072D4;
$highlight-color-exception: #AD8900;
$highlight-color-function: #0072D4;
$highlight-color-namespace: #53676D;
$highlight-color-tag: #A78300;
$highlight-color-label: #A78300;
$highlight-color-variable: #53676D;
$highlight-color-whitespace: #ECE3CC;
$highlight-color-symbol: #489100;
$highlight-color-regex: #0072D4;
$highlight-color-error: #D2212D;
$highlight-color-emph: #A78300;
$highlight-color-traceback: #D2212D;
$highlight-color-inserted: #A78300;
$highlight-color-output: #D5CDB6;
$highlight-color-prompt: #D5CDB6;

// Highlight styles
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }

.highlight,
.highlight pre,
.highlight table {
    background-color: $highlight-bg-base;
    color: $highlight-color-base;
} // Base colors

.highlight .hll {
  background-color: $highlight-bg-hll;
} /* Highlight Line */

.highlight .c {
  color: $highlight-color-comment;
  font-style: italic;
} /* Comment */

.highlight .err {
  color: $highlight-color-error;
} /* Error */

.highlight .k {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword */

.highlight .o {
  color: $highlight-color-operator;
  font-weight: bold;
} /* Operator */

.highlight .cm {
  color: $highlight-color-comment;
  font-style: italic;
} /* Comment.Multiline */

.highlight .cp {
  color: $highlight-color-comment;
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */

.highlight .c1 {
  color: $highlight-color-comment;
  font-style: italic;
} /* Comment.Single */

.highlight .cs {
  color: $highlight-color-comment;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */

.highlight .gd {
  color: $highlight-color-error;
} /* Generic.Deleted */

.highlight .ge {
  color: $highlight-color-emph;
  font-style: italic;
} /* Generic.Emph */

.highlight .gr {
  color: $highlight-color-traceback;
} /* Generic.Error */

.highlight .gh {
  color: $highlight-color-heading;
} /* Generic.Heading */

.highlight .gi {
  color: $highlight-color-inserted;
} /* Generic.Inserted */

.highlight .go {
  color: $highlight-color-output;
} /* Generic.Output */

.highlight .gp {
  color: $highlight-color-prompt;
} /* Generic.Prompt */

.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */

.highlight .gu {
  color: $highlight-color-subheading;
} /* Generic.Subheading */

.highlight .gt {
  color: $highlight-color-traceback;
} /* Generic.Traceback */

.highlight .kc {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword.Constant */

.highlight .kd {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword.Declaration */

.highlight .kn {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword.Namespace */

.highlight .kp {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword.Pseudo */

.highlight .kr {
  color: $highlight-color-keyword;
  font-weight: bold;
} /* Keyword.Reserved */

.highlight .kt {
  color: $highlight-color-type;
  font-weight: bold;
} /* Keyword.Type */

.highlight .m {
  color: $highlight-color-number;
} /* Literal.Number */

.highlight .s {
  color: $highlight-color-string;
} /* Literal.String */

.highlight .na {
  color: $highlight-color-attribute;
} /* Name.Attribute */

.highlight .nb {
  color: $highlight-color-builtin;
} /* Name.Builtin */

.highlight .nc {
  color: $highlight-color-class;
  font-weight: bold;
} /* Name.Class */

.highlight .no {
  color: $highlight-color-attribute;
} /* Name.Constant */

.highlight .nd {
  color: $highlight-color-decorator;
  font-weight: bold;
} /* Name.Decorator */

.highlight .ni {
  color: $highlight-color-entity;
} /* Name.Entity */

.highlight .ne {
  color: $highlight-color-exception;
  font-weight: bold;
} /* Name.Exception */

.highlight .nf {
  color: $highlight-color-function;
  font-weight: bold;
} /* Name.Function */

.highlight .nl {
  color: $highlight-color-label;
  font-weight: bold;
} /* Name.Label */

.highlight .nn {
  color: $highlight-color-namespace;
} /* Name.Namespace */

.highlight .nt {
  color: $highlight-color-tag;
} /* Name.Tag */

.highlight .nv {
  color: $highlight-color-variable;
} /* Name.Variable */

.highlight .nx {
  color: $highlight-color-builtin
} /* Name.?? */

.highlight .ow {
  color: $highlight-color-operator;
  font-weight: bold;
} /* Operator.Word */

.highlight .w {
  color: $highlight-color-whitespace;
} /* Text.Whitespace */

.highlight .mf {
  color: $highlight-color-number;
} /* Literal.Number.Float */

.highlight .mh {
  color: $highlight-color-number;
} /* Literal.Number.Hex */

.highlight .mi {
  color: $highlight-color-number;
} /* Literal.Number.Integer */

.highlight .mo {
  color: $highlight-color-number;
} /* Literal.Number.Oct */

.highlight .sb {
  color: $highlight-color-string;
} /* Literal.String.Backtick */

.highlight .sc {
  color: $highlight-color-string;
} /* Literal.String.Char */

.highlight .sd {
  color: $highlight-color-string;
} /* Literal.String.Doc */

.highlight .s2 {
  color: $highlight-color-string;
} /* Literal.String.Double */

.highlight .se {
  color: $highlight-color-string;
} /* Literal.String.Escape */

.highlight .sh {
  color: $highlight-color-string;
} /* Literal.String.Heredoc */

.highlight .si {
  color: $highlight-color-string;
} /* Literal.String.Interpol */

.highlight .sx {
  color: $highlight-color-string;
} /* Literal.String.Other */

.highlight .sr {
  color: $highlight-color-regex;
} /* Literal.String.Regex */

.highlight .s1 {
  color: $highlight-color-string;
} /* Literal.String.Single */

.highlight .ss {
  color: $highlight-color-symbol;
} /* Literal.String.Symbol */

.highlight .bp {
  color: $highlight-color-comment;
} /* Name.Builtin.Pseudo */

.highlight .vc {
  color: $highlight-color-variable;
} /* Name.Variable.Class */

.highlight .vg {
  color: $highlight-color-variable;
} /* Name.Variable.Global */

.highlight .vi {
  color: $highlight-color-variable;
} /* Name.Variable.Instance */

.highlight .il {
  color: $highlight-color-number;
} /* Literal.Number.Integer.Long */
